In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('house.csv')

In [ ]:
df.loc[df['SellerG'] == 'Nelson', 'SellerG'] = 'Matheus'
df

In [ ]:
df.loc[df['SellerG'] == 'Matheus', ['Method', 'Type']] = 'Pending'
df

In [ ]:
df.groupby(['SellerG']).mean(numeric_only=True) #media dos vendedores

In [ ]:
df.groupby(['SellerG']).sum(numeric_only=True).sort_values('Price', ascending= False).head(10) #Soma as vendas dos vendedores e mostra o top10

In [15]:
df.groupby(['SellerG']).count()

,Suburb,Address,Rooms,Type,Price,Method,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
SellerG,,,,,,,,,,,,
@Realty,27,27,27,27,21,27,27,27,27,27,27,27
A,9,9,9,9,6,9,9,9,9,9,9,9
AIME,1,1,1,1,1,1,1,1,1,1,1,1
ASL,10,10,10,10,10,10,10,10,10,10,10,10
Abercromby's,68,68,68,68,42,68,68,68,68,68,68,68
...,...,...,...,...,...,...,...,...,...,...,...,...
iOne,1,1,1,1,1,1,1,1,1,1,1,1
iProperty,1,1,1,1,1,1,1,1,1,1,1,1
iSell,127,127,127,127,99,127,127,127,127,127,127,127
iTRAK,75,75,75,75,70,75,75,75,75,75,75,75
voglwalpole,4,4,4,4,2,4,4,4,4,4,4,4